@font-face 
{
    font-family: "NeuzeitGroteskW01-Regular"; 
    src: url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.eot"); 
    src: url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.svg#NeuzeitGroteskW01-Regular") format("svg"); 
}
@font-face 
{
    font-family: "NeuzeitGroteskCondW01-Black"; 
    src: url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.eot"); 
    src: url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.svg#NeuzeitGroteskCondW01-Black") format("svg");
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NeuzeitGroteskW01-Regular', 'NeuzeitGroteskCondW01-Black';
    font-size: 18px;
}

.contactpage-section {
    text-align: center;
    margin: 100px 0 160px 0;
}
.contactpage-title {
    font-family: 'NeuzeitGroteskCondW01-Black';
    font-size: 52px;
}

.contactpage-container {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.contactpage-card-container {
    width: 40%;
    display: flex;
    justify-content: center;
}
.contactpage-form {
    width: 60%;
}


.contactpage-card {
    width: 60%;
    background-color: #3D3D3D;
    color: #fff;
    padding: 45px 30px 80px 30px;
}
.contactpage-card_header {
    margin-bottom: 60px;
}

.contactpage-card-line {
    margin: 10px 0;
}
.contactpage-card-line > a {
    color: #fff;
    text-decoration: none;
}
.contactpage-card-line > a:hover {
    color: #008964;
}
.contactpage-card-line > a > * {
    display: inline;
}
.contactpage-card-line > a > i {
    margin-right: 20px;
}

.contactpage-card-social {
    margin-top: 50px;
}


.form-single {
    display: inline-block;
    width: 35%;
    margin-bottom: 45px;
}
.form-single > label {
    display: block;
}
.contact-input {
    border-top: none !important;
    border-right: none !important;
    border-bottom: 1px solid #C6C6C6 !important;
    border-left: none !important;
    width: 90%;
    border-radius: 0 !important;
}
.contact-input:focus,
.contact-input:hover,
.contact-input:active
{
    border-color: #008964 !important;
    outline: none;
}

.form-double {
    width: 75%;
}
.form-double > textarea {
    resize: none;
}

.contactpage-send_button {
    margin-top: 70px;
    border-radius: 8px;
    padding: 10px 46px;
}




@media screen and (max-width: 1320px){
    .contactpage-container {
        flex-direction: column;
    }
    .contactpage-container > * {
        width: 100%;
        margin: 0;
        padding: 20px 5%;
    }
    .contactpage-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 45px;
    }
    .contactpage-card > * {
        width: 33.3%;
        padding: 0 15px;
        margin: 0;
    }
    .contactpage-card-social {
        text-align: center;
        padding-top: 7px;
    }

    .contact-input {
        width: 90%;
    }
    .form-single {
        display: inline-block;
        width: 47%;
        margin-bottom: 45px;
    }
    .form-double {
        width: 100%;
    }
}

@media screen and (max-width: 1110px){
    .contactpage-card {
        padding: 45px 10px;
    }
    .contactpage-card-title {
        font-size: 43px;
    }
    .contactpage-card-line > i {
        margin-right: 10px;
    }
}

@media screen and (max-width: 945px){
    .contactpage-card {
        width: 100%;
        display: unset;
        padding: 45px 10px;
    }
    .contactpage-card-title {
        font-size: 43px;
    }
    .contactpage-card-line > i {
        margin-right: 10px;
    }
    .contactpage-card > * {
        width: 80%;
        padding: 0 15px;
        margin-bottom: 45px;
    }
    .contactpage-card-social {
        text-align: left;
        padding-top: 7px;
    }
}

@media screen and (max-width: 690px){
    .contactpage-card {
        width: 100%;
        display: unset;
        padding: 45px 10px;
    }
    .contactpage-card > * {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 45px;
    }
    .contactpage-card-social {
        text-align: left;
        padding-top: 4px;
    }

    .form-single {
        display: inline-block;
        width: 100%;
        margin-bottom: 45px;
    }
    .form-double {
        width: 100%;
    }
    .contact-input {
        width: 100%;
    }
}