@import url('//db.onlinewebfonts.com/c/edeb336ecd776e23d99355eb2b52cbc7?family=NeuzeitGroteskW01-Regular');
@import url('//db.onlinewebfonts.com/c/3b51be541e8086f75a52deac06dba6ee?family=NeuzeitGroteskCondW01-Black');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeuzeitGroteskW01-Regular', 'NeuzeitGroteskCondW01-Black';
}

.button {
    padding: 16px 46px;
    background-color: #646464;
    font-size: 26px;
    color: white;
    text-decoration: none;
    font-family: 'NeuzeitGroteskCondW01-Black';
    border-radius: 8px;
}

/*Contact section added by Alex*/
.contact > h2 {
    margin-left: 7.5%;
}

.contact-div {
    display: inline-flex;
}

.contact-div > span {
    width: 50%;
}

.contact-img > img {
    width: 75%;
    margin-right: 15%;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-p {
    margin-top: 25%;

    line-height: 28px;
    font-size: 20px;
}

.contact-p > p {
    margin-left: 15%;
}

.contact-a > a {
    margin-left: 15%;
    position: relative;/*
    top: 400px;*/
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}