@import url('//db.onlinewebfonts.com/c/edeb336ecd776e23d99355eb2b52cbc7?family=NeuzeitGroteskW01-Regular');
@import url('//db.onlinewebfonts.com/c/3b51be541e8086f75a52deac06dba6ee?family=NeuzeitGroteskCondW01-Black');

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NeuzeitGroteskW01-Regular', 'NeuzeitGroteskCondW01-Black';
    font-size: 18px;
}

/*Sezione intro*/
.offerta-formativa__intro {
    text-align: center;
    margin-top: 70px;
}
.offerta-formativa__intro > h1 {
    font-size: 67px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.offerta-formativa__intro > h3 {
    margin-top: 25px;
    font-size: 30px;
}

.offerta-formativa__courses-title {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.offerta-formativa__testimony {
    background-color: #008964;
    color: #fff;
    text-align: center;
    padding: 6% 0;
}
.testimony__text {
    font-family: 'Times New Roman', Times, serif;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.testimony__author {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


/*Sezione corsi*/
.offerta-formativa__courses-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
}
.courses-main-image {
    margin-left: auto;
    margin-right: auto;
}

.courses-vertical-cards {
    width: 27%;
    margin-left: auto;
    margin-right: auto;
}
.vertical-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 50px;
}
.vertical-card-text {
    margin-left: 25px;
}
.vertical-card-text > h5 {
    font-family: 'NeuzeitGroteskCondW01-Black';
    font-size: 20px;
}
.vertical-card-text > p {
    font-size: 18px;
}