@font-face 
{
    font-family: "NeuzeitGroteskW01-Regular"; 
    src: url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.eot"); 
    src: url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/edeb336ecd776e23d99355eb2b52cbc7.svg#NeuzeitGroteskW01-Regular") format("svg"); 
}
@font-face 
{
    font-family: "NeuzeitGroteskCondW01-Black"; 
    src: url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.eot"); 
    src: url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/3b51be541e8086f75a52deac06dba6ee.svg#NeuzeitGroteskCondW01-Black") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeuzeitGroteskW01-Regular', 'NeuzeitGroteskCondW01-Black';
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-image-section {
    width: 100%;
    margin: 90px 0;
}
.image-section_title {
    margin-left: 15%;
    margin-bottom: 40px;
    font-size: 56px;
    font-family: 'NeuzeitGroteskCondW01-Black';
}
.support__paragraph {
    max-width: 60%;
}


.reverse-column {
    flex-direction: row-reverse;
}
.left-image {
    justify-content: center;
    align-items: center;
}


.donation-card-section {
    width: 100%;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation-card {
    width: 60%;
    padding: 75px 0;
    background-color: rgba(254, 210, 83, 80%);
    box-shadow: 0px 80px 120px rgba(54, 54, 54, 0.1);
    border-radius: 27px;
    text-align: center;
}
.donation-card__big-caption {
    font-size: 48px;
    font-family: 'NeuzeitGroteskCondW01-Black';
    margin-bottom: 90px;
}
.green-text {
    font-family: 'NeuzeitGroteskCondW01-Black';
    color: #008964;
}

.donation-card__tiny-caption {
    font-size: 24px;
    margin-bottom: 45px;
}
.support-button {
    padding: 16px 90px;
}

.donation-card__payment-method {
    margin-top: 45px;
}
.donation-card__payment-method > * {
    display: inline;
    vertical-align: middle;
}
.donation-card__payment-method > p {
    font-size: 17px;
}
.donation-card__payment-method > img {
    width: 4%;
    opacity: 70%;
}


.model730-title {
    text-align: center;
}
.download-button {
    margin-left: 15%;
    margin-top: 40px;
}


@media screen and (max-width: 1366px) {
    .normal-column {
        flex-direction: row;
    }
}
@media screen and (max-width: 767px) {
    .image-section_title {
        margin: 0;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        line-height: normal;
    }
    .reverse-column {
        flex-direction: column-reverse;
    }
    .normal-column {
        flex-direction: column-reverse;
    }

    .donation-card {
        width: 90%;
    }
    .donation-card__payment-method > * {
        display: block;
    }
    .donation-card__payment-method > img {
        width: 16%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 345px) {
    .donation-card__big-caption {
        font-size: 36px;
        font-family: 'NeuzeitGroteskCondW01-Black';
        margin-bottom: 90px;
    }
    .donation-card__payment-method > * {
        display: block;
    }
    .donation-card__payment-method > img {
        width: 16%;
        margin-left: auto;
        margin-right: auto;
    }
    .support-button {
        padding: 16px 50px;
    }
}